/*ul#menu-main-menu {
    float: right;
}*/
.row {
    margin-right: 0;
    margin-left: 0;

}
#navigation_menu{
    margin-top: 20px;
}
#navigation_menu_logo{
    padding: 0;
}
#footer_tripseeker_logo{
    margin-bottom: 50px;
}
#navbar-logo{
    padding: 11px 0px 11px 15px;
}
 
@media (min-width: 768px) {
    .footer_social_media{
        margin-top: 56px;
    }
}
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
    /*#navigation_menu_logo{
        padding-left: 20px;
    }*/
    #navbar-logo {
       display: none;
        /*TEST*/
    }
    .navbar-collapse{
        float:left;  
    }
}



