@font-face {
    font-family: 'rubik-black';
    src: url('./font/Rubik-Black.ttf');
}
@font-face {
    font-family: 'rubik-bold';
    src: url('./font/Rubik-Bold.ttf');
}
@font-face {
    font-family: 'rubik-medium';
    src: url('./font/Rubik-Medium.ttf');
}
@font-face {
    font-family: 'rubik-regular';
    src: url('./font/Rubik-Regular.ttf');
}
@font-face {
    font-family: 'rubik-light';
    src: url('./font/Rubik-Light.ttf');
}
