#navigation_menu {
	
}

.float-none {
	float: none;
}	

#navigation_menu_logo {
	height: 50px;
}

.header-logo-container {
	text-align:center;	
}

div#cc_spacer {
	height:58px !important;
}


li#navbar-logo {
	padding: 0;
	margin-right: 20px;
	margin-left: 20px;
}

li#navbar-logo a {
	padding: 0;
}

