header.entry-header {
    padding: 0;
}

div.title {
    padding: 0;
}

div.vacation-type-image {
    padding: 0;
    border-right: 4px solid #4b0438;
}
.blog_post_container{
    margin-bottom: 20px;
}
.blog_post_info_container {
    border-left-style: solid;
}

.blog_tripeSeeker_photo img {
            max-height: 100%;
            max-width: 100%;
            margin-bottom: 5px;
        }
.blog_info_photo_descri{
    text-align: center;font-size: 10px;
}
.blog_post_info_container_margin{
    margin-left: 20px;
}
.blog_post_info{
    text-align: left;
}
p.blog_info_photo_descri {
    word-wrap: normal;
}
.entry-header .entry-meta::after{
    height: 0;
}
.byline{
    display: none;
}
@media (max-width: 990px) {
    .blog_post_info_container{
        border-left-style: none;
    }
    .blog_post_container_col{
       display: none;

    }
    .blog_post_info_container_col{
        padding-left: 0;
    }
    .blog_post_info{
        text-align: left;
    }
    div .entry-summary{
        padding-left: 15px;
    }
    .blog_post_info_container_margin
    {
        margin: 0;
    }
    .blog_info_photo_descri{
        font-size: 7px;
    }
}